.slider {
    border-radius: 20px;
    border: 2px solid darkred;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.thumb {
    background: darkred;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.chill-slider {
    border-radius: 20px;
    border: 2px solid rgb(64, 202, 145);
    margin-top: 30px;
    height: 40px;
}

.chill-thumb {
    background: rgb(64, 202, 145);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

label {
    color: #fff;
}